<section id="noflex" class="mainSection">
    <div id="information">
        <p>"Coding, Traveling, and Board Games, the three major loves of my life. I code front end, back end, and everything inbetween using the MEAN Stack. I'm always looking for the next challange."</p>
    </div>
    <div id="iconsdiv">
        <a target="_blank" href="https://www.linkedin.com/in/colehartog
"><i class="fa fa-linkedin ai"></i></a>
        <a target="_blank" href="https://github.com/ColeHartog"><i class="fa fa-github-alt ai"></i></a>
        <i class="fa fa-mobile ai"></i>
        <i class="fa fa-envelope-o ai"></i>
        <a target="_blank" href="./../imgs/Cole%20Hartog.pdf"><i class="fa ai fa-file" aria-hidden="true"></i></a>
        <br>
        <div id="phone">801-558-6877</div>
        <div id="email">colehartog@gmail.com</div>
    </div>
    
</section>