<section class="mainSection">
    <div class="f1">
        <div class="alignvertical">
            <div id="salonhex" class="myHexagon">
                <div class="myHexTop glow"></div>
                <div class="myHexBottom glow"></div>
                <div class="hexagon-hidden">
                    <div class="myHexTop"></div>
                    <div class="myHexBottom"></div>
                    <div class="hextitle">
                        <div class="hextitlediv">Salon O</div>
                        <p>A full MEAN stack with customer side website, schedualing, inventory, sales, and reports.</p>
                        <div class="iconcontainer">
                            <a target="_blank" href="templates/salono/index.html"><i class="fa fa-globe"></i></a>
                            <a target="_blank" href="https://github.com/ColeHartog/salonOtestsite"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="f1">
        <div class="alignvertical">
            <div id="devhex" class="myHexagon">
                <div class="myHexTop glow"></div>
                <div class="myHexBottom glow"></div>
                <div class="hexagon-hidden">
                    <div class="myHexTop"></div>
                    <div class="myHexBottom"></div>
                    <div class="hextitle">
                        <div class="hextitlediv">Dev Tracker</div>
                        <p>An ionic application made to help students track  progress at DevMountain, by obtaining badges.</p>
                        <div class="iconcontainer">
                            <a target="_blank" href="https://github.com/ColeHartog/DevTrackerPrototype"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="f1">
        <div class="alignvertical">
            <div id="worldhex" class="myHexagon">
                <div class="myHexTop glow"></div>
                <div class="myHexBottom glow"></div>
                <div class="hexagon-hidden">
                    <div class="myHexTop"></div>
                    <div class="myHexBottom"></div>
                    <div class="hextitle">
                        <div class="hextitlediv">Earth</div>
                        <p>A 3D model of the earth and moon in orbit using only html, css, and 3js.</p>
                        <div class="iconcontainer">
                            <a target="_blank" href="templates/earth/index.html"><i class="fa fa-globe"></i></a>
                            <a target="_blank" href="https://github.com/ColeHartog/EarthMoon"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>