*{
    margin:0;
    padding:0;
    font-family: 'EB Garamond', serif;
    font-size: 25;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #f9f9f9;
    color: #222;
}

body {
    background: url(imgs/clouds.png);
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover 101%;
    border: none;
}

header {
    outline: 1px solid #222;
    height: 50px;
    position: relative;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #222;
}

ui-view {
    position: absolute;
    width: 100%;
    height: 100%;
}

#title {
    display: inline-block;
    font-size: 35;
    margin-left: 20px;
}

#Title:hover {
    cursor: default;
}

#navBarLinksDiv {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    text-align: center;
    right: 20%;
    visibility: hidden;
}

#navBarLinksDiv:hover {
    cursor: default;
}

#navBarLinksDiv2 {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    text-align: center;
    right: 20%;
    visibility: hidden;
}

.navBarLink {
    display: inline-block;
    margin: 0 50px;
}

.navBarLink:hover{
    cursor: pointer;
}

.alignvertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.barsicon {
    position: absolute;
    right: 30px;
/*    visibility: visible;*/
    display: block;
    font-size: 70;
}

.active {
    display: none;
}

.mainSection {
/*    background-image: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925);*/
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}

#noflex {
    display: block;
}

.f1 {
    flex: 1;
    height: 100%;
}


#salonhex {
    background-image: url(imgs/salonPreview.jpg);
}

#worldhex {
    background-image: url(imgs/worldPreview.jpg);
}

#devhex {
    background-image: url(imgs/dmlogoshinygif.gif);
}

.iconcontainer {
    position: absolute;
    top: 140px;
    text-align: center;
    width: 100%;
}

.fa-globe, .fa-github {
    margin: 0 10px;
    font-size: 40;
    transition: color .5s ease;
}

.fa-globe:hover, .fa-github:hover {
    color: #366F9E;
}

#information {
    width: 40%;
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
    color: #222;
    display: block;
}

#information:hover {
    cursor: default;
}

#information > p {
    font-size: 30;
    font-weight: bold;
}

#iconsdiv {
/*    width: 40%;*/
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.ai {
    font-size: 50;
    color: #222;
    margin: 0 50px;
    transition: all .5s ease;
}

.ai:hover {
    color: #366F9E;
    transform: scale(1.5);
    cursor: pointer;
}

.fa-file {
    font-size: 40;
}

.fa-mobile:hover ~ #phone {
    opacity: 1;
}

.fa-envelope-o:hover ~ #email {
    opacity: 1;
}

#phone {
    margin-top: 50px;
    text-align: center;
    font-size: 50;
    font-weight: bold;
    opacity: 0;
    transition: opacity .5s ease;
}

#email {
    margin-top: -65px;
    text-align: center;
    font-size: 50;
    font-weight: bold;
    opacity: 0;
    transition: opacity .5s ease;
}

.myHexagon {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 173.21px;
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0,0, 0 ,1);
    transition: box-shadow .5s linear;
/*    transform: scale(1.5);*/
    transition: transform .5s ease;
}

.myHexTop, .myHexBottom {
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    overflow: hidden;
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 43.93px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    transition: box-shadow .5s linear
}



.myHexTop:after, .myHexBottom:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 173px;
    transform: rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    transform-origin: 0 0;
    background: inherit;
}

.myHexTop {
    top: -106.0660px;
/*    left: 44px;*/
}
.myHexTop:after {
    background-position: center top;
}

.myHexBottom {
    bottom: -106.0660;
}

.myHexBottom:after {
    background-position: center bottom;
}

.myHexagon:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 173.2051px;
    z-index: 2;
    background: inherit;
}

.glow:hover {
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

.myHexagon:hover .glow{
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

.myHexagon:hover .hexagon-hidden {
    transition-delay: .5s;
    opacity: 1;
}

.myHexagon:hover {
    transform: scale(1.15);
}


.hexagon-hidden {
  position: absolute;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-color: #f9f9f9;
    color: #222;
/*    font-weight: bold;*/
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  float: left;
  z-index: 10;
  transform: scale(.85);
    opacity: 0;
    transition: opacity .5s ease;
}

.hexagon-hidden:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 173.2051px;
    z-index: 2;
    background: inherit;
}

.fa-github:hover {
    cursor: pointer;
}

.hextitle {
    position: relative;
    width: 100%;
    z-index: 7;
    text-align: center;
    font-size: 50;
}

.hextitlediv{
    font-size: 50;
    background-color: #222;
    color: #f9f9f9;
    width: calc(100% + 2px);
    position: relative;
    left: -1px;
}

.hextitle > p {
    margin-top: 20px;
    padding: 0 10px;
    font-size: 15;
}

.hextitle > p:hover, .hextitle > div:hover {
    cursor: default;
}


@media (max-width: 1035px){
    .mainSection {
        flex-direction: column;
        padding-top: 50px;
    }
    .f1 > .alignvertical {
        position: relative;
        top: 0;
        transform: translateY(0%);
    }
    .myHexagon {
        transform: scale(1.2);
        margin: 0 auto;
/*        margin-top: 50px;*/
    }
    .f1 {
        margin-top: 50px;
    }
    .f1:nth-child(1) {
        margin-top: 200px;
    }
    .myHexagon:hover {
        transform: scale(1.35);
    }
    header {
        height: 100px;
    }
    #Title {
        font-size: 60;
    }
    .barsicon {
        font-size: 50;
    }
    .navBarLink {
        font-size: 40;
    }
    #navBarLinksDiv2 {
        right: 20px;
    }
    #information {
        width: 80%;
        margin-top: 150px;
    }
    #information > p {
        font-size: 70;
    }
    #iconsdiv {
        margin-top: 150px;
    }
    .ai {
        font-size: 100;
    }
    #phone, #email {
        opacity: 1;
        font-size: 70;
        margin-top: 100px;
    }
    #email {
        margin-top: 50px;
    }
}

@media (min-width: 1035px){
    .myHexagon {
        transform: scale(1);
    }
    .myHexagon:hover {
        transform: scale(1.15);
    }
    .barsicon {
/*        visibility: hidden;*/
        display: none;
    }
    #navBarLinksDiv {
        visibility: visible;
    }
    #Title {
        margin-left: 20%;
    }
    ui-view.ng-enter, ui-view.ng-leave {
    position: absolute;
    left: 0;
    top: 50px;
    transition:all 1s ease;
    }

    ui-view.ng-leave {
        opacity: 1;
        top: 50px;
    }

    ui-view.ng-leave-active {
        opacity: 0;
        top: 500px;
    }

    ui-view.ng-enter {
        opacity: 0;
        top: -450px;
    }

    ui-view.ng-enter-active {
        opacity: 1;
        top: 50px;
}

}

@media (min-width: 1485px){
    .myHexagon {
        transform: scale(1.5);
    }
    .myHexagon:hover {
        transform: scale(1.65);
    }
}





@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

ui-view {
    position: absolute;
    top: 50px;
}



